@use "../core" as *;

.article-blog {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 386px;
  background-color: var(--dnt-ap-article-blog-bg);
  border-radius: 40px;
  overflow: hidden;

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 40px;
    overflow: hidden;

    img {
      @include coverImage();
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 18px 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: var(--dnt-ap-article-blog-title);
  }

  &__date {
    font-size: 16px;
    font-weight: 400;
    color: var(--dnt-ap-article-blog-date);
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    color: var(--dnt-ap-article-blog-text);
  }
}
