@use "../core" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--dnt-ap-space-3);
  padding: var(--dnt-ap-space-2);
  width: fit-content;
  min-width: 164px;
  font-size: var(--dnt-ap-font-size-base);
  font-weight: var(--dnt-ap-font-weight-medium);
  color: var(--dnt-ap-button-text);
  background-color: var(--dnt-ap-button-bg);
  border-radius: 24px;
  transition: .2s ease;
  cursor: pointer;

  svg {
    display: flex;
    width: 16px;
    height: 16px;
  }

  &--wide {
    width: auto;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid var(--dnt-ap-button-border);
  }

  &--border {
    border: 1px solid var(--dnt-ap-button-border);
  }

  &--shadow {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 4px;
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 24px;
      background-color: var(--dnt-ap-button-shadow);
      z-index: -1;
    }
  }

  &--cart {
    padding: 12px;
    width: 100%;
    border-radius: 12px;

    svg {
      display: flex;
      width: 20px;
      height: 20px;
    }
  }
}
