@use "../core" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__agreement {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    span a {
      text-decoration: underline;
      transition: .2s ease;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
