@use "./title";
@use "./logo";
@use "./button";
@use "./checkbox";
@use "./burger";
@use "./input";
@use "./select";
@use "./form";
@use "./tag";
@use "./pagination";
@use "./search";
@use "./social";
@use "./developer";
