@use "../core" as *;

.input {
  display: flex;
  align-items: center;
  padding: 14px 24px 12px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  color: var(--dnt-ap-input-text);
  border: 1px solid var(--dnt-ap-input-border);
  border-radius: 24px;
  transition: .2s ease;

  &[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &--area {
    min-height: 176px;
  }

  &.error {
    border-color: var(--dnt-ap-c-error);
  }
}
