@use "../core" as *;

.search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 794px;
  padding: 6px;
  background-color: var(--dnt-ap-search-bg);
  border-radius: 12px;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: var(--dnt-ap-search-icon-bg);
    border-radius: 12px;

    svg {
      display: flex;
      width: 20px;
      height: 20px;
    }
  }

  input {
    display: flex;
    flex-grow: 1;
    padding-left: 14px;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: var(--dnt-ap-search-text);

    &::placeholder {
      color: var(--dnt-ap-search-placeholder);
    }
  }
}
