@use "../core" as *;

.select {
  display: flex;
  flex-direction: column;
  padding: 7px 42px 9px 16px;
  width: fit-content;
  min-width: 184px;
  font-size: 16px;
  font-weight: 500;
  color: var(--dnt-ap-select-text);
  background-color: var(--dnt-ap-select-bg);
  background-image: var(--dnt-ap-select-icon-arrow);
  background-position: center right 16px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 12px;
  transition: .2s ease;
  cursor: pointer;

  &:focus {
    background-image: var(--dnt-ap-select-icon-arrow-active);
  }

  &:hover {
    background-color: var(--dnt-ap-select-bg-hover);
  }

  &--filter {
    padding: 7px 16px 9px 42px;
    background-image: var(--dnt-ap-select-icon-filter);
    background-position: center left 16px;

    &:focus {
      background-image: var(--dnt-ap-select-icon-filter);
    }
  }
}
