@use "core" as *;

*:where(:not(html,iframe,canvas,img,svg,video,audio):not(svg *,symbol *):not(.adm-workarea *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, button {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 385px;
  min-height: 100vh;

  font-family: var(--dnt-ap-font-family-base);
  font-weight: var(--dnt-ap-font-weight-regular);
  font-size: var(--dnt-ap-font-size-base);
  line-height: var(--dnt-ap-line-height-base);
  color: var(--dnt-ap-text-primary);
  background-color: var(--dnt-ap-surface-page);

  overflow-x: hidden;

  &.fixed {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
  overflow-x: clip;
}

svg {
  display: flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

*[disabled] {
  opacity: 0.7;
  pointer-events: none;
}

.container {
  width: 100%;
  max-width: var(--dnt-ap-container-width);
  padding: var(--dnt-ap-container-padding);
  margin: 0 auto;
  z-index: 1;

  &--fluid {
    max-width: 100%;
  }

  @include response($size-mobile) {
    padding: 0 12px;
  }
}

.mob-hidden {
  @include response($size-mobile) {
    display: none;
  }
}

.desktop-hidden {
  @include response-mob($size-mobile + 1) {
    display: none;
  }
}

.temp {
  display: flex;
  flex-direction: column;
  gap: var(--dnt-ap-space-3);
  width: 100%;
  max-width: var(--dnt-ap-layout-container-width);
  margin: auto auto 0;
  padding: var(--dnt-ap-space-5);
}
